- name: Create a Folder - {{ item.dir }}
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{{item}}"
    url: http://172.31.85.152:8080
    user: admin
    password: "{{jenkins_password}}"
  loop:
    - CIPipelines

- name: Create Pipeline Jobs
  ansible.builtin.include_tasks: pipeline.yml
  loop:
    - {name: "backend", dir: "CIPipelines"}
    - {name: "cart", dir: "CIPipelines"}
    - {name: "catalogue", dir: "CIPipelines"}
    - {name: "user", dir: "CIPipelines"}
    - {name: "payment", dir: "CIPipelines"}
    - {name: "shipping", dir: "CIPipelines"}